body
{
    font-family: 'Montserrat', sans-serif;
}

div, text, button
{
    padding: 5px;
}

a, .topBarButton
{
    text-decoration: underline;
    color: blue;
}

#mainBox, #topBar
{
    background-image: linear-gradient( #d198ffaa, #b04fffaa );
    border: solid 1px  #bd5385;
}

#covidWarning
{
    background: repeating-linear-gradient( 45deg, #e0e09d, #ffff00 30px, #ff9e27 30px,  #dd9100 60px );
    border: solid 1px  #ff6600;
    padding:0px;
}

#covidWarningText
{
    color: #0000ff;
    font-size: 100%;
}

#coursesListBox
{
    padding: 20px;
}

#coursesListBox:nth-child( odd ), #newsListBox:nth-child( odd ), #socialMediaBox
{
    background-image: linear-gradient( #eaa4ffaa, #e184fdaa );
    border: solid 1px  #b15a83;
}

#coursesListBox:nth-child( even ), #newsListBox:nth-child( even )
{
    background-image: linear-gradient( #d5a2ffaa, #c783ffaa );
    border: solid 1px  #bd5385;
}

.topBarButton:hover
{
    cursor: pointer;
}

.topBarButton:nth-child( odd )
{
    background-color: #ff83b3aa;
}

.topBarButton:nth-child( even )
{
    background-color: #ff7aadaa;
}

#newsListEntry
{
    max-width:40%;
}

.socialMediaButton
{
    width: 5%;
}

#mainBox, #topBar, #displayBox, .topBarButton
{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#displayBox
{
    overflow: auto;
    padding: 0px;
}

#topBar
{
    display: flex;
}

.topBarButton
{
    background-color: #ff98bfaa;
    border: solid 1px  #bd5385;
    flex: auto;
    position: relative;
    font-size: 150%;
}

.choiceBox
{
    display: none;
    height: 0;
}

#newsBox
{
    display: block;
}

#mainBox
{
    height: 98%;
    width: 75%;
}

#displayBox
{
    background-color: #d198ff;
    border: solid 1px  #bd5385;
    position: relative;
}

#tudLogo
{
    width: 75%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    text-align: center;

}

#snowflake
{
    position: absolute;
    z-index: -1000;
}

body
{
    background-image: url( "../images/ITB_Aerial.jpg" );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}